@import url("./fonts.css");
@import "tailwindcss";

:root {
  --geist-sans: "Geist Sans", sans-serif;
  --max-width: 1550px;
  --nav-height: 65px;

  --pure-black: #000000;
  --black: #222222;

  --pure-white: #ffffff;
  --white: #f9f9f9;

  --light-gray: #d1d1d1;
  --dark-gray: #373737;

  --blue: #3979f5;

  --skeleton-from: hsl(200, 20%, 80%);
  --skeleton-to: hsl(200, 20%, 95%);
}

/* tailwind variables */
@theme inline {
  --color-pure-black: var(--pure-black);
  --color-black: var(--black);

  --color-pure-white: var(--pure-white);
  --color-white: var(--white);

  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);

  --color-blue: var(--blue);

  --spacing-max-width: var(--max-width);
  --spacing-nav-height: var(--nav-height);
}

body {
  font-family: var(--geist-sans);
  background-color: var(--white);
  overflow-x: hidden;
}

@media screen and (max-width: 1600px) {
  :root {
    --max-width: 90vw;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-from);
  }
  100% {
    background-color: var(--skeleton-to);
  }
}

.loader-container {
  width: 5.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader {
  fill: none;
  stroke: var(--blue);
  stroke-width: 3;
  stroke-dasharray: 2, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
